<div class="header">
  <div class="header-wrap">
    <a routerLink="/">
      <div class="header-logo"><img class="header-logo__img" src="../../assets/image/logo.png" />
       <span>JAPAN VAN LINES VIỆT NAM</span>
      </div>
     </a>
    <div class="header-nav">
      <div class="header-nav__item introduce">
       <a href="#" class="nav-link"> Về chúng tôi</a>
        <i class="fa-solid fa-caret-down fa-sm" style="color: #ffffff;"></i>
        <ul class="introduce-list">
          <li class="introduce-item"><a routerLink="/introduce/businessphilosophi">Triết lí kinh doanh</a> </li>
          <li class="introduce-item"><a routerLink="/introduce/messagechief">Thông điệp từ chủ tịch</a></li>
          <li class="introduce-item"><a routerLink="/introduce/history">Lịch sử phát triển</a></li>
          <li class="introduce-item"><a routerLink="/introduce/branchcompany">Chi nhánh</a></li>
        </ul>
      </div>
      <div class="header-nav__item service">
        <a class="nav-link" href="#">Dịch vụ </a>
        <i class="fa-solid fa-caret-down fa-sm" style="color: #ffffff;"></i>
        <ul class="service-list">
          <li class="service-item"><a href="#">Dịch vụ booking tải</a></li>
          <li class="service-item"><a href="#">Dịch vụ Thông quan</a></li>
          <li class="service-item"><a href="#">Dịch vụ Chuyển phát</a></li>
          <li class="service-item"><a href="#">Dịch vụ Chứng từ</a></li>
          <li class="service-item"><a href="#">Dịch vụ Kho bãi</a></li>
        </ul>
      </div>
      <div class="header-nav__item"><a href="#" class="nav-link" >Tuyển dụng</a> </div>
      <div class="header-nav__item"><a href="#" class="nav-link" >Liên hệ</a> </div>
    </div>

  </div>
</div>

