<div class="contact-content p-2">
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a routerLink="/admin">Trang chủ</a></li>
              <li class="breadcrumb-item"><a routerLink="/admin/contact">Liên hệ</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <div class="row justify-content-between">
                <div class="col-md-7">
                  <button class="btn btn-primary">+ Thêm liên hệ</button>
                </div>
                <div class="search-box col-md-4">
                  <div class="row justify-content-end">
                    <div class="col-md-8">
                        <input type="text" class="form-control" (change)="OnSearch($event)" placeholder="Tìm kiếm">
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-primary" >Tìm kiếm</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Công ty</th>
                    <th scope="col">Liên hệ</th>
                    <th scope="col">Ngày tạo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of listContact; index as idx">
                    <th scope="row">{{idx*pageIndex+1}}</th>
                    <td>{{c.name}}</td>
                    <td>{{c.nameCompany}}</td>
                    <td>
                      <p>
                        {{c.email}}
                      </p>
                      <p>
                        {{c.phone}}
                      </p>
                    </td>
                    <td>{{c.createAt|date:'mediumDate'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
