<div class="message">
  <div class="message__title">
    Thông điệp từ Chủ tịch
  </div>
  <div class="message__content">
    <p>
      Công ty TNHH Japan Van Lines ra đời năm 1961 tại Yokohama, Nhật Bản. Chúng tôi có sự bảo trợ của nhiều khách hàng cũng như đối tác tại nhiều nước trên thế giới, hãng tàu biển, hãng hàng không và các nhà phân phối vật chất, những người cùng chúng tôi đưa ra các chiến lược logistics với những dịch vụ được kết hợp rộng rãi từ hình thức lưu kho, vận chuyển đa phương thức đến thông quan trong suốt hơn 50 năm qua.

    </p>
    <p>
      Chúng tôi tận dụng tối đa những kinh nghiệm lâu năm và bí quyết phong phú trong lĩnh vực phân phối vật chất, và tôi luôn hướng tới mục tiêu trở thành doanh nghiệp đáp ứng mọi nhu cầu, góp phần tạo nên những thành tựu trong việc kinh doanh của khách hàng bằng cách đề xuất và cung cấp dịch vụ chất lượng cao ngay từ những bước đầu. Tôi mong muốn đóng góp cho cộng đồng thông qua ngành kinh doanh vận tải bằng nỗ lực tạo ra dịch vụ logistics chuẩn mực và tốc độ cao hơn.

    </p>
    <p>
      Đây là triết lý trong việc quản lý của chúng tôi và là kim chỉ nam cho cách ứng xử của doanh nghiệp. Tôi sẽ nỗ lực cải thiện chất lượng dịch vụ hơn nữa để khách hàng hiện tại và tất cả khách hàng trong tương lai có thể hài lòng khi cảm nhận được sự thay đổi theo thời gian cũng như sự đổi mới công nghệ một cách nhạy bén và luôn cho thấy những dịch vụ chất lượng cao với hiệu suất tốt nhất.

    </p>
    <p>
      Tôi cùng toàn bộ nhân viên sẽ cố gắng hết sức để tiếp tục được xã hội tin tưởng, bao gồm cả các khách hàng là đối tác để cùng nhau phát triển và lớn mạnh, vì vậy mong quý khách hàng hãy ủng hộ chúng tôi nhiều hơn nữa trong tương lai.

    </p>
    <p>
      <strong>Trân trọng cảm ơn sự ủng hộ của quý khách hàng trong thời gian vừa qua.
      </strong>
    </p>
    <p>
      <strong>Tháng 5, năm 2022</strong> <br/>
      <strong>Tomotaro Kuroyanagi</strong> <br/>
      <strong>Chủ tịch Japan Van Lines Co., Ltd.</strong>
    </p>
  </div>
</div>
