<div class="branch">
  <div class="branch__title">Chi nhánh</div>
  <ul class="branch__list">
    <li class="branch__item">
      <div class="branch__item--index">01</div>
      <div class="branch__item--name">Trụ sở chính Tokyo</div>
      <div class="branch__item--address">
        International Multimodal Sec, Air Cargo Sec.
        <br />
        1-11-7, Shimbashi, Minato-ku,
        <br />
        Tokyo, 105-0004, Japan
      </div>
    </li>
    <li class="branch__item">
      <div class="branch__item--index">02</div>
      <div class="branch__item--name">Trụ sở chính Tokyo</div>
      <div class="branch__item--address">
        International Multimodal Sec, Air Cargo Sec.
        <br />
        1-11-7, Shimbashi, Minato-ku,
        <br />
        Tokyo, 105-0004, Japan
      </div>
    </li>
    <li class="branch__item">
      <div class="branch__item--index">03</div>
      <div class="branch__item--name">Trụ sở chính Tokyo</div>
      <div class="branch__item--address">
        International Multimodal Sec, Air Cargo Sec.
        <br />
        1-11-7, Shimbashi, Minato-ku,
        <br />
        Tokyo, 105-0004, Japan
      </div>
    </li>
    <li class="branch__item">
      <div class="branch__item--index">04</div>
      <div class="branch__item--name">Trụ sở chính Tokyo</div>
      <div class="branch__item--address">
        International Multimodal Sec, Air Cargo Sec.
        <br />
        1-11-7, Shimbashi, Minato-ku,
        <br />
        Tokyo, 105-0004, Japan
      </div>
    </li>
    <li class="branch__item">
      <div class="branch__item--index">05</div>
      <div class="branch__item--name">Trụ sở chính Tokyo</div>
      <div class="branch__item--address">
        International Multimodal Sec, Air Cargo Sec.
        <br />
        1-11-7, Shimbashi, Minato-ku,
        <br />
        Tokyo, 105-0004, Japan
      </div>
    </li>
    <li class="branch__item">
      <div class="branch__item--index">06</div>
      <div class="branch__item--name">Trụ sở chính Tokyo</div>
      <div class="branch__item--address">
        International Multimodal Sec, Air Cargo Sec.
        <br />
        1-11-7, Shimbashi, Minato-ku,
        <br />
        Tokyo, 105-0004, Japan
      </div>
    </li>
  </ul>
</div>
