<div class="bussiness">
  <div class="bussiness__infor">
    <div class="bussiness__infor--title">
      Triết lý <br/> kinh doanh
    </div>
    <div class="bussiness__description">
      JVL Việt Nam luôn hướng tới dịch vụ logistics có chất lượng tối ưu với phương châm mang đến sự hài lòng cho khách hàng. Đội ngũ nhân viên chuyên nghiệp giàu kinh nghiệm của JVL Việt Nam luôn cống hiến hết mình để nâng cao chất lượng dịch vụ. JVL Việt Nam đóng góp cho xã hội với đầy đủ các dịch vụ logistics hữu ích cho cộng đồng.
    </div>
  </div>
  <div class="bussiness__image">
    <img src="../../../assets/image/triet-ly-kinh-doanh-img.png"/>
    <img src="../../../assets/image/triet-ly-kinh-doanh-img-2.png"/>
  </div>
</div>
