.header{
  height: 86px;
  width: 100%;
  position: fixed;
  margin-left: 350px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
