<div class="footer">
  <div class="footer__content">
    <div class="footer__infor">
      <img class="footer__logo" src="../../assets/image/logo.png" />
      <ul class="footer__list">
        <li class="fotter__item">CÔNG TY TNHH JVL VIỆT NAM</li>
        <li class="fotter__item">
          Địa chỉ: Số 62, Đường Đại La, Phường Trương Định, Quận Hai Bà Trưng,
          Thành phố Hà Nội, Việt Nam
        </li>
        <li class="fotter__item">Số điện thoại: (+84) - 96 977 0155</li>
        <li class="fotter__item">E-mail: info.japanvanvn&#64;gmail.com</li>
        <li class="fotter__item">
          Thời gian làm việc: 09:00 - 18:00 (từ Thứ 2 đến Thứ 6)
        </li>
      </ul>
    </div>
    <div class="footer__connect">
      KẾT NỐI VỚI CHÚNG TÔI
      <div class="footer__icon">
        <a href="#" class="footer__icon--noHover">
          <img src="../../assets/image/facebook-icon.png" />
        </a>
        <!-- <a href="#" class="footer__icon--hover">
          <img src="../../assets/image/facebook-icon-hover.png" />
        </a> -->
      </div>
    </div>
  </div>
  <div class="footer__copyrignt">COPYRIGHT 2024 JVL ALL RIGHTS RESERVED.</div>
</div>
