<!--Main Navigation-->
<!-- Sidebar -->
<nav id="sidebarMenu" class=" d-lg-block sidebar  bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mt-2">
      <a class="logo row align-items-center">
        <img class="logo-img img-thumbnail col-md-4 col-4 border-0" src="../../../../assets/image/logo.png">
        <div class="title-logo col-md-8 fw-bold col-8">
          JAPAN VAN LINES VIỆT NAM
        </div>
      </a>
      <a
        routerLink="/"
        class="list-group-item list-group-item-action py-2 ripple"
        aria-current="true"
      >
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Trang chủ</span>
      </a>
      <a
        routerLink="/admin/career"
        class="list-group-item list-group-item-action py-2 ripple active"
      >
        <i class="fas fa-chart-area fa-fw me-3"></i><span>Tuyển dụng</span>
      </a>
      <a routerLink="/admin/contact" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fas fa-lock fa-fw me-3"></i><span>Liên hệ</span></a
      >
    </div>
  </div>
</nav>
